.header{
    display: block;
    width: 100%;
    background:black;
    color: white;
    height: 70px;
}
nav
nav ul
nav ul li{
    margin-top: 15px;
    padding:0;
}
nav{
    top: 50%;right: 15px;
}
ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5%;
}
